header{
    position: fixed;/* Mantem fixo no top*/
    z-index: 999; /* Para ficar em cima dos outros components*/
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;/* Fica cada um para um canto*/
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;/* Adiciona o efeito suave quando da o scroll na page*/
}

header.black {
    background-color: #000;
}

.header--logo{
    height: 25px;
}
.header--logo img {
    height: 100%;
}
.header--user{
    height: 32px;
}
.header--user img{
    height: 100%;
    border-radius: 3px;
}