@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*  Ajusta as listas com filmes para subir um pouco aparecendo no final do filmes em destaque */
.lists{
  margin-top: -150px;
}